/*core-pages.game {
  width: 100%;
  height: 100%;
  overflow:hidden;
}*/
/*core-pages.game > div{
  opacity:0;
}*/
/*core-pages.game > .gamehome {

}*/
.logo {
  max-width:75%;
  height:auto;
  padding:10px;
  /*height: 20%;*/
  /*width: 20%;*/
}
paper-button {
  background: #99FF66;
  width: 20%;
  margin: 0 auto;
}

