
core-pages {
  /*width:100%;*/
  /*height: 100%;*/
  -webkit-user-select: none;
  border-radius: 0px;

}

core-pages > div {
  /*display: flex vertical;*/
  text-align: center;
  align-items: left;
  /*font-size: 2em;*/
  /*border-radius: inherit;*/
}


core-pages.main > .home {
  /*background-color: #D6FFAD;*/
  width: 100%;
  /*top:10%;*/
  /*padding: 1em;*/
  /*border-radius: 1em;*/
  position: absolute;
  /*margin-left: 1.6em;*/
  /*margin-right: -20%;*/
  /*transform: translate(-50%, -50%)*/
}
core-pages.game {
  width: 800pt;
}

core-pages.change {
  height:100%; 
  width:100%; 
  overflow:hidden;
  border: none;
  /*margin-left: 2em;*/
}
core-pages.change > div {
  opacity: 0;
  -webkit-transform: translate3d(-100px, 0, 0) scale(0.9);
  transform: translate3d(-100px, 0, 0) scale(0.9);
  transition: all 1s cubic-bezier(.03,.56,.7,.98);
  /*color: white;*/
}

core-pages.change > .one {
  background-image: url("http://i.imgur.com/yVRPwCm.jpg");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  padding: 5%;
}

core-pages.change > .two {
  background-image: url("http://i.imgur.com/e44XksA.jpg");
  background-size: cover;
  background-position: right center;
  background-repeat: no-repeat;
  padding: 5%;
  padding-top:20%;
}

core-pages.change > .three {
  background-image: url("http://i.imgur.com/1FlBO4C.png");
  background-size: 75% 100%;
  /*background-position: center top;*/
  background-repeat: no-repeat;
  padding: 5%;
}

core-pages.change > .four {
  background-image: url("http://i.imgur.com/AibpzZA.jpg");
  /*opacity: 0.8;*/
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding:1%;
}

core-pages.change > .five {
  background-image: url("http://i.imgur.com/PE2KMIp.jpg");
  background-size: cover;
  background-position: left center;
  background-repeat: no-repeat;
  padding: 1%;
}

core-pages.change .core-selected + div {
  -webkit-transform: translate3d(100px, 0, 0) scale(0.9);
  transform: translate3d(100px, 0, 0) scale(1);
}

core-pages.change .core-selected {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

core-pages.change div.begin {
  -webkit-transform: translate3d(100px, 0, 0) scale(0.9);
  transform: translate3d(100px, 0, 0) scale(0.9);
}

.block1 {
  background-image: url("http://placehold.it/4096x2160");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 15%;
}
.block2 {
  background-image: url("http://placehold.it/4096x2160");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 15%;
}
.general-left {
  font-size: 2em;
  position: relative;
  top: 20%;
  margin-right:50%;
}
.specific-left {
  font-size: 1.2em;
  position: relative;
  top: 20%;
  margin-right: 50%;
}

.general-right {
  font-size: 2em;
  position: relative;
  top: 20%;
  margin-left:50%;
}
.specific-right {
  font-size: 1.2em;
  position: relative;
  top: 20%;
  margin-left: 50%;
}

.gen-about1 {
  color: white;
  font-size: 2em;
  position: relative;
  top: 20%;
  margin-right:70%;
}
.spec-about1 {
  color: white;
  font-size: 1.2em;
  position: relative;
  top: 20%;
  margin-right: 70%;
}

.gen-about2 {
  font-size: 2em;
  position: relative;
  top: 20%;
  margin-left:60%;
}
.spec-about2 {
  font-size: 1.3em;
  /*font-weight:500;*/
  color:white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  position: relative;
  top: 20%;
  margin-left: 60%;
}

.gen-about3 {
  font-size: 2em;
  position: relative;
  top: 20%;
  margin-left:75%;
}
.spec-about3 {
  font-size: 1.2em;
  position: relative;
  top: 20%;
  margin-left: 75%;
}

.gen-about4 {
  font-size: 2em;
  position: relative;
  top: 5%;
  /*margin-left:75%;*/
}
.spec-about4 {
  font-size: 1.2em;
  color:white;
  position: relative;
  margin-top: 5%;
  margin-left:5%;
  margin-right: 60%;
}
.gen-about5 {
  font-size: 2em;
  position: relative;
  top: 20%;
  margin-right:75%;
}
.spec-about5 {
  font-size: 1.2em;
  position: relative;
  top: 20%;
  margin-right: 75%;
}
#pages {
  margin: 0 auto;
}

/*paper-button.start {
  color: #4285f4;
}*/

/*paper-button[raised].start {
  background: #4285f4;
  color: #fff;
}*/