html,body {
  height: 100%;
  margin: 0;
  background-color: #383838;
  font-family: 'RobotoDraft', sans-serif;
}
core-header-panel {
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch; 
}
core-toolbar {
  background: #080808;
  color: white;
}
#tabs {
  width: 100%;
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-transform: uppercase;
}
paper-tab::shadow #ink{
  color: #9999ff;
}
paper-tabs::shadow #selectionBar {
  background-color: #9999ff;
}
.container {
  width: 80%;
  margin: 50px auto;
}
@media (min-width: 481px) {
  #tabs {
    width: 200px;
  }
  .container {
    width: 400px;
  }
}