html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial;
  margin: 0;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
}

paper-tabs {
  background-color: #080808;
  color: white;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
}    


#tabs {
  width: 100%;
  margin: 0 auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-transform: uppercase;
}

paper-tab::shadow #ink{
  color: #9FF781;
}
paper-tabs::shadow #selectionBar {
  background-color: #9FF781;
  height: 4px;
}